<!-- 채팅방 목록 ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <%-include('../include/head')%>
    </head>
    <body>
        <h1>채팅방 목록</h1>
        <%for(let i=0; i<chatLists.length; i++){%>
            <p><%= chatLists[i].c_title%></p>
            <%}%>
    </body>
    <script>
    </script>
</html>
