<!-- 채팅방 목록 ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat List</title>
    </head>
    <body>
        <h1>Chat List</h1>
        <ul>
            <% chatLists.forEach(chat => { %>
            <li>
                <a href="/chats/rooms/<%= chat.c_seq %>?u_seq=<%= u_seq %>"><%= chat.c_title %></a>
            </li>
            <% }); %>
        </ul>
    </body>
</html>
