<!-- 게시글 상세 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 상세 페이지</title>
    </head>
    <body>
        <img src="" alt="main_img" />
        <div class="title">
            <h2></h2>
        </div>
        <div class="content">
            <p></p>
        </div>
        <button></button>
        <button>채팅하기</button>
    </body>
</html>
