<!-- 게시글 상세페이지 -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 상세 페이지</title>
        <%-include('../include/head')%>
        <link rel="stylesheet" href="/static/css/postDetail.css" />
    </head>
    <body>
        <div class="container">
            <div class="left">
                <img src="" alt="img_main" />
                <div class="author">
                    <h2>글 작성자</h2>
                </div>
            </div>
            <div class="right">
                <h1>글 제목</h1>
                <div>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </body>
</html>
