<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Page</title>
        <%-include('./include/head')%>
        <link rel="stylesheet" href="styles/reset.min.css" />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
</head>
    </head>
    <body>
        <%-include('./include/header')%>
       

<div class="image">
            <section class="one">
                <img src="/static/image/Group 196.png" alt="Image 1">
            </section>
            <section class="two">
                <img src="/static/image/Group 197.png" alt="Image 1">
            </section>
            <section class="three">
                <img src="/static/image/Group 198.png" alt="Image 1">
            </section>
           
        </div>
    </body>
    <script>
 


</script>
</html>
