<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Page</title>
        <%-include('./include/head')%>
    </head>
    <body>
        <%-include('./include/header')%>
        <div id="info"></div>
    </body>
    <script>
        (async () => {
            const info = document.getElementById("info");
            const accessToken = localStorage.getItem("accessToken");

            let data = "";
            if (!accessToken) {
                data = '<a href="/users/signin">로그인</a>';
            } else {
                const response = await axios({
                    method: "POST",
                    url: "/users/accesstoken",
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    },
                });
                if (response.data.result) {
                    // 사용자 이름을 포함한 데이터 생성
                    data = `
        <p>${response.data.name}님 환영합니다.</p>
        <button type="button" onclick="signout()">로그아웃</button>
    `;
                    // 로그인 버튼을 로그아웃 버튼으로 변경
                    const loginButton = document.getElementById("btn-login");
                    loginButton.innerHTML = "logout";
                    loginButton.removeAttribute("href"); // 로그인 링크 제거
                    loginButton.onclick = signout; // onclick 이벤트에 signout 함수 할당

                    const userButton = document.getElementById("btn-user");
                    userButton.innerHTML = `${response.data.name}님`;
                }
            }
            // info.innerHTML = data; // 로그인 버튼 나오도록 하기
        })();

        function signout() {
            // 로컬 스토리지에서 jwt 정보 삭제
            localStorage.clear();

            // 새로고침으로 뷰 화면 변경
            document.location.reload();
        }
    </script>
</html>
