<head>
    <meta charset="UTF-8" />
    <title>Headers - 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/reset.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
</head>
<body>
    <!-- Header Start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a id="logo" href="#">BBGG</a>
            <form class="d-flex" role="search">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
                <a href="#" id="btn-search" type="submit"
                    ><img src="../../static/css/image/icon_search.png"
                /></a>
            </form>
            <div id="menu">
                <a id="btn-chat" href="#">Chat</a>

                <a id="btn-mypage" href="#">Mypage</a>

                <a id="btn-login" type="submit" href="users/signin"> Login </a>
            </div>
        </div>
    </nav>
    <!-- Header End -->
</body>
