<!-- 회원정보 수정 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>profile edit</title>
        <%-include('../include/head')%>
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="ko">
            <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>회원정보 수정</title>
                <link rel="stylesheet" href="/static/css/signup.css" />
                <%-include('../include/head')%>
            </head>
            <body>
                <div class="img_signup">
                    <img src="/static/css/image/signup_img.png" alt="signup_img" id="img_signup" />
                </div>
                <div class="signUpWallPaper">
                    <form name="signupForm" id="signupForm">
                        <h1>회원정보 수정</h1>
                        <p>There is no charge upon registration!</p>
                        <div class="container">
                            <label for="email"><span> 이메일</span></label>
                            <br />
                            <input type="email" id="email" name="email" class="input" required />
                            <button class="btn_check">중복 확인</button>
                            <br />
                            <label for="userId"><span> 아이디</span></label>
                            <br />
                            <input type="text" id="userId" name="userId" class="input" required />
                            <button class="btn_check">중복 확인</button>
                            <br />
                            <label for="userPw"><span> 비밀번호</span></label>
                            <br />
                            <input
                                type="password"
                                id="userPw"
                                name="userPw"
                                class="input"
                                required
                            />
                            <br /><br />
                            <label for="name"><span> 이름</span></label>
                            <br />
                            <input type="text" id="name" name="name" class="input" required />
                            <br /><br />
                            <label for="nickname"><span> 닉네임</span></label>
                            <br />
                            <input
                                type="text"
                                id="nickname"
                                name="nickname"
                                class="input"
                                required
                            />
                            <button class="btn_check">중복 확인</button>
                            <br /><br />
                            <button type="button" onclick="profileEdit()" id="btn_signupNow">
                                수정하기
                            </button>
                        </div>
                    </form>
                </div>
            </body>
        </html>
    </body>
</html>
