<!-- 회원정보 수정 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>profile edit</title>
        <link rel="stylesheet" href="/static/css/profileEdit.css" />
        <%-include('../include/head')%>
    </head>
    <body>
        <div class="img_profileEdit">
            <img
                src="/static/css/image/profileEdit_img.png"
                alt="profileEdit_img"
                id="img_profileEdit"
            />
        </div>
        <div class="profileEditWallPaper">
            <form name="profileEditForm" id="profileEditForm">
                <h1>회원정보 수정</h1>
                <p>비밀번호, 닉네임만 수정 가능</p>
                <div class="container">
                    <label for="email"><span> 이메일</span></label>
                    <br />
                    <input type="email" id="email" name="email" class="input" value="" readonly />
                    <br />
                    <label for="userId"><span> 아이디</span></label>
                    <br />
                    <input type="text" id="userId" name="userId" class="input" value="" readonly />
                    <br />
                    <label for="userPw"><span> 비밀번호 변경</span></label>
                    <br />
                    <input type="password" id="userPw" name="userPw" class="input" required />
                    <br />
                    <label for="userPwConfirm"><span>비밀번호 변경 확인</span></label>
                    <br />
                    <input
                        type="password"
                        id="userPwConfirm"
                        name="userPwConfirm"
                        class="input"
                        required
                    />
                    <br />
                    <label for="name"><span> 이름</span></label>
                    <br />
                    <input type="text" id="name" name="name" class="input" value="" readonly />
                    <br />
                    <label for="nickname"><span> 닉네임</span></label>
                    <br />
                    <input type="text" id="nickname" name="nickname" class="input" required />
                    <button class="btn_check" onclick="checkDuplicate('nickname')">
                        중복 확인
                    </button>
                    <br /><br />
                    <button type="button" onclick="profileEdit()" id="btn_profileEdit">
                        수정하기
                    </button>
                </div>
            </form>
        </div>
    </body>
    <script>
        // function profileEdit() {
        //     const form = document.forms["profileEditForm"];
        //     const p1 = document.getElementById("userPw").value;
        //     const p2 = document.getElementById("userPwConfirm").value;

        //     if (p1 === p2) {
        //         return true;
        //     } else {
        //         alert("비밀번호가 일치하지 않습니다");
        //         return false;
        //     }
        // }

        function profileEdit() {
            const form = document.forms["signupForm"];
            const p1 = document.getElementById("userPw").value;
            const p2 = document.getElementById("userPwConfirm").value;

            if (!form.checkValidity()) {
                form.reportValidity();
                return;
            }

            if (!duplicateCheckStatus.nickname) {
                alert("닉네임의 중복 확인을 완료해주세요.");
                return;
            }

            if (p1 !== p2) {
                alert("비밀번호가 일치하지 않습니다.");
                return;
            }
            axios({
                method: "PATCH",
                url: "/users/profileEidt",
                data: {
                    email: form.email.value,
                    userId: form.id.value,
                    userPw: form.userPw.value,
                    name: form.name.value,
                    nickname: form.nickname.value,
                },
            })
                .then((res) => {
                    if (res.data.errors) {
                        for (i = 0; i < res.data.errors.length; i++) {
                            console.log(res.data.errors[i].msg);
                            alert(res.data.errors[i].msg);
                        }
                    } else {
                        alert("회원정보 수정 완료");
                        document.location.href = "/";
                    }
                })
                .catch((error) => {
                    console.error("회원정보 수정 에러", error);
                    alert("회원정보 수정 중 오류가 발생했습니다. 나중에 다시 시도해주세요.");
                });
        }
    </script>
</html>
