<!-- 로그인 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
        <link rel="stylesheet" href="/static/css/signin.css" />
        <%-include('../include/head')%>
        <%-include('../include/header')%>
    </head>
    <body>
        <div class="logo">
            <a href="/">
                <img src="/static/image/logo.png" alt="로고" />
            </a>
        </div>
        <br /><br />
        </form>
        <div class="loginWrapper">
            <form name="login-form">
                <input type="text" id="id" name="id" placeholder=" 아이디 입력" required />
                <br /><br />
                <input
                    type="password"
                    id="pw"
                    name="pw"
                    placeholder=" 비밀번호 입력"
                    required
                />
                <br /><br />
                <button type="button" onclick="login()" id="btn_signin">로그인</button>
                <br /><br />
                <button type="button" onclick="location.href='/users/signup'" id="btn_signup">
                    회원 가입
                </button>
            </form>
        </div>

        <script>
            async function login() {
                const form = document.forms["login-form"];
                const response = await axios({
                    method: "POST",
                    url: "/users/signin",
                    data: {
                        id: form.id.value,
                        pw: form.pw.value,
                    },
                });
                const { result, accessToken, refreshToken, message, nickname } = response.data;
                if (result) {
                    localStorage.setItem("accessToken", accessToken);
                    localStorage.setItem("refreshToken", refreshToken);
                    alert(`${nickname}님 환영합니다`);
                    document.location.href = "/";
                } else {
                    alert(message);
                    document.location.reload();
                }
            }
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelector("form[name=login-form]")
                    .addEventListener("keypress", function (event) {
                        if (event.key === "Enter") {
                            event.preventDefault();
                            login();
                        }
                    });
            });
        </script>
    </body>
</html>
