.container-in {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    height: 90vh;
    justify-content: center;
}

.notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
}

.container-out {
    width: 1200px;
    margin: auto;
}
#chatList {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow-y: auto;
    max-height: 90vh;
}

#chat-title {
    margin-right: auto;
}

.long-button {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid lightgray;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100px;
}
#chat-title-box {
    display: flex;
}
#chatRoom {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

#messages {
    flex-grow: 1;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 5px;
    max-width: 80%;
    word-wrap: break-word;
    padding: 8px;
    border-radius: 8px;
}

.my-message {
    align-self: flex-end;
    background-color: #ff6f0f;
    color: white;
}

#exitButton {
    background-color: #ff6f0f;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}
#mannerButton {
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
}

.other-message {
    align-self: flex-start;
    background-color: #ddd;
}

#messageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messageInput {
    flex: 2;
    margin-right: 10px;
}

/*별점 평가 관련*/
.star-rating {
    font-size: 24px;
    cursor: pointer;
}

.star-rating span {
    color: gold;
}

.star-rating span:hover,
.star-rating span.active {
    color: gold;
}
.new-text {
    font-size: 20px;
    color: #ff6f0f;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    bottom: 60px;
    left: 315px;
}

#sendButton {
    font-size: 16px;
    background-color: #ff6f0f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: darkorange;
}
