.container-in {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    height: 90vh;
    justify-content: center;
}

.container-out {
    /* background-color: green; */
    width: 100%;
}
#chatList {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    overflow-y: auto; /* 세로 스크롤을 허용합니다. */
    max-height: 90vh; /* 카드의 최대 높이를 설정합니다. 필요에 따라 조절할 수 있습니다. */ /* 테두리 스타일 및 색상을 원하는 대로 조정하세요 */
}

.long-button {
    width: 100%; /* 버튼의 너비를 100%로 설정하여 부모 요소의 너비에 맞게 확장됩니다. */
    background-color: #ffffff;
    border: 1px solid lightgray;
    text-align: left;
    font-size: 16px;
    height: 100px; /* 버튼의 높이를 조절합니다. 필요에 따라 원하는 높이로 변경할 수 있습니다. */
}

#chatRoom {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

#messages {
    flex-grow: 1;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 5px;
    max-width: 80%; /* 가장 큰 폭을 제한하거나 필요에 따라 조절하세요 */
    word-wrap: break-word;
    padding: 8px;
    border-radius: 8px;
}

.my-message {
    align-self: flex-end;
    background-color: #ff6f0f; /* 내 메시지 배경 색상 */
    color: white;
}

#exitButton {
    background-color: #ff6f0f; /* 내 메시지 배경 색상 */
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

.other-message {
    align-self: flex-start;
    background-color: #ddd; /* 상대방 메시지 배경 색상 */
}

#messageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messageInput {
    flex: 2;
    margin-right: 10px;
}


/*별점 평가 관련*/
.star-rating {
    font-size: 24px;
    cursor: pointer;
}

.star-rating span {
    color: gold;
}

.star-rating span:hover,
.star-rating span.active {
    color: gold;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    bottom: 60px;
    left: 315px;

#sendButton {
    font-size: 16px;
    background-color: #ff6f0f; /* 배경색을 파란색으로 설정 */
    color: #ffffff; /* 텍스트 색상을 흰색으로 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리를 둥글게 만듭니다 */
    cursor: pointer; /* 마우스를 가져다 대면 포인터가 나타납니다 */
}

/* 버튼에 마우스를 올렸을 때 배경색을 조금 더 어둡게 만듭니다 */
#sendButton:hover {
    background-color: darkorange;

}
