body {
    background-color: #ffffff;
}
#navbarScroll {
    display: flex;
    justify-content: flex-end;
}

#logo {
    width: 5px;
    text-decoration: none;
    color: #ff6f0f;
}

#btn-search {
    width: 5%;
    height: auto;
}
#btn-chat {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
#btn-mypage {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
#btn-user {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}

#btn-login {
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
