* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}
