* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 90vh;
}

section {
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.image img {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞게 조정 */
    height: auto;
    display: block;
}
