body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
}

.left,
.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.img_main {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #333;
}

.post-header {
    position: relative;
}

#patchForm {
    position: relative;
    width: 100%;
    padding-top: 40px;
}

.like-count {
    background-color: #fff;
    padding: 0.5vw;
    width: 3vw;
    height: 3vw;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px; /* 하트 아이콘과 like-count 사이의 간격 설정 */
}

#title,
#category,
#content {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#title {
    margin-top: 20px;
}

#content {
    margin-bottom: 20px;
    resize: vertical;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bi-heart,
.bi-heart-fill {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff6f0f;
    margin-right: 10px; /* 하트 아이콘과 like-count 사이의 간격 설정 */
}

.btn_chat,
.btn_edit,
.btn_delete {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_chat {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
