body {
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: left;
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
}

span {
    color: #748aa1;
    font-size: small;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.file {
    width: calc(100% - 22px);
    margin-top: 10px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

#btn_post {
    width: calc(100% - 22px);
    background-color: #ff6f0f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
