body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
}
.left,
.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column; /* 자식 요소를 수직으로 정렬 */
    justify-content: center; /* 자식 요소를 수직 가운데 정렬 */
    min-height: 100%;
}
.img_main {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #333;
}

.titleBox {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contentBox {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bi-heart,
.bi-heart-fill {
    font-size: 1.5rem;
    cursor: pointer;
}

.btn_chat {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
