body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
}

.left,
.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.img_main {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.author {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.post-header {
    position: relative;
}

#patchForm {
    position: relative;
    width: 100%;
    padding-top: 40px;
}

#like-count {
    font-size: 1.2rem; /* 하트 아이콘과 비슷한 크기로 조정합니다. */
    width: 2.5rem; /* 하트 아이콘의 크기에 맞게 조정 */
    height: 2.5rem; /* 하트 아이콘의 크기에 맞게 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    /* 추가적인 간격 조정을 위해 margin-right 설정을 제거하거나 조정합니다. */
    margin-left: 5px;
}
#title,
#category,
#content {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#title {
    margin-top: 20px;
}

#content {
    margin-bottom: 20px;
    resize: vertical;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.bi-heart,
.bi-heart-fill {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff6f0f;
}

.btn_chat,
.btn_edit,
.btn_delete {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_delete {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_chat {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-right {
    margin-left: auto; /* 다른 버튼 요소들과 분리하여 오른쪽에 위치하도록 합니다. */
}

.btn_left {
    margin-right: auto;
    display: flex;
    align-items: center; /* 하트 아이콘과 like-count를 수직 중앙 정렬 */
}

#btn-back {
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 30%;
}

#date_container {
    display: flex;
    justify-content: space-between;
}
