.container-in {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
}
.pagination-container {
    display: flex;
    justify-content: center;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 10%;
    /* justify-content: center; */
}
.image-container .post {
    width: 23%;
    margin-bottom: 20px;
    padding: 15px;
    /* float: left; */
}
.image-container .post a {
    display: block;
    text-decoration: none;
    color: #333;
}
.image-container .post img {
    width: 165.68px;
    height: 165.68px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
    object-fit: cover;
}
.image-container .post img:hover {
    transform: scale(1.05);
}
.image-container .post .title {
    margin-top: 5px;
    font-weight: bold;
}
.image-container .post .content {
    margin-top: 5px;
    color: #777;
}
.image-container .post .category {
    margin-top: 5px;
    font-style: italic;
}
.image-container .post .author {
    margin-top: 5px;
    color: #555;
}

th,
td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

#post-header {
    display: flex;
    justify-content: flex-end;
}

#btn-post {
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
}

#btn-post-search {
    color: black;
    font-size: 20px;
}

.d-flex {
    padding-right: 0.5rem;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    color: black;
    text-decoration: none;
}

.board_page a.bt {
    padding-top: 5px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 5px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}
.iconSection {
    display: flex;
    justify-content: space-evenly;
    /* 요소가 넘칠 경우 다음 줄에 배치합니다. */
}

.iconSection a {
    margin: 10px; /* 이미지 간격을 조정합니다. */
}

.iconSection img {
    width: 50px; /* 원하는 너비로 설정 */
    height: auto; /* 높이는 자동으로 조절됩니다. */
}
