html {
    height: 100%;
}

/* body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
} */
.container-edit {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.img_profileEdit {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 100px;
}

#img_profileEdit {
    width: 75%;
    height: 75%;
}

.profileEditWallPaper {
    margin-left: 100px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80vh;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 20px #ebedf4;
}

#profileEditForm {
    width: 80%;
    height: 80%;
}

p {
    color: #748aa1;
    font-weight: bold;
}

span {
    color: #748aa1;
    font-size: small;
    font-weight: bold;
}

.container {
    border: 1px solid #ebedf4;
    border-radius: 5px;
    height: auto; /* 높이를 자동으로 조정하여 내용물에 맞춤 */
    padding-bottom: 20px; /* 아래쪽에 여유 공간 추가 */
}

.input {
    width: 70%;
    height: 7%;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn_check {
    background-color: #ff6f0f;
    color: white;
    border: none;
    border-radius: 5px;
}

#btn_profileEdit {
    background-color: #ff6f0f;
    color: white;
    width: 95%;
    height: 10%;
    border: none;
    border-radius: 5px;
}

/* 화면 크기가 1024px 이하일 때 적용할 스타일 */
@media screen and (max-width: 1024px) {
    .img_profileEdit,
    .profileEditWallPaper {
        width: 100%;
        margin-left: 0;
        float: none;
        display: block;
    }

    .img_profileEdit {
        height: auto;
        justify-content: center;
    }

    #img_profileEdit {
        width: 50%; /* 이미지 크기 조절 */
        height: auto;
    }

    .profileEditWallPaper {
        justify-content: center;
        height: auto;
    }

    .container,
    #profileEditForm {
        width: 90%; /* 폼 너비 조절 */
        /* 높이 조정 제거 또는 수정 */
        min-height: auto; /* 최소 높이 설정으로 변경 */
        padding: 10px; /* 작은 화면에서의 내부 여백 조정 */
    }
}

/* 화면 크기가 768px 이하일 때 적용될 스타일 */
@media (max-width: 768px) {
    .input,
    .btn_check,
    #btn_profileEdit {
        width: 100%;
    }

    #img_profileEdit {
        display: none; /* 모바일 화면에서는 이미지를 숨깁니다. */
    }
}
