.container-out {
    /* background-color: green; */
    margin-top: 60px;
    width: 1500px;
    height: 600px;
}
.container {
    margin-top: 5px;
    display: flex;
    /* background-color: yellow; */
    /* background-color: yellow; */
    /* width: 1500px;
    height: 550px; */
    padding: 20px;
    /* border: 2px solid black; */
}
.container-name {
    margin-left: 12rem;
}
.card1 {
    flex: 1;
    margin-right: 20px;
    background-color: white;
    max-width: 300px;
    max-height: 450px;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 0.5rem rgba(0, 0, 0, 0.5);
    left: 5rem;
    /* top: 2.5rem; */
}
.card2 {
    flex: 1;
    background-color: white;
    max-width: 800px;
    max-height: 450px;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 1rem 0.5rem rgba(0, 0, 0, 0.5);
    left: 5rem;
    /* top: 2.5rem; */
}

.banner {
    /* background-image: url("/css/myprofile/다운로드\ \(2\).jpeg"); */
    display: flex;
    justify-content: center;
}

.profile {
    width: 8rem;
    height: 8rem;
    background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTRfMjIw%2FMDAxNjM0MTM5NDUyMTMw.LQliGvqqaeaScoAJQOYq3WhxapwGyjZjsfPSBMAuiYEg.WRu1NpNPXpJyMesthhuzSfogPnMFihMCGj9917c_PXog.JPEG.empl%2FIMG_7576.jpg&type=a340");
    background-size: 130px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    transform: translateY(30%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.profile:hover {
    transform: translateY(30%) scale(1.1);
}

.name {
    text-align: center;
    padding-top: 60px;
}
.id {
    text-align: center;
}
.email {
    text-align: center;
}

#btn-edit {
    background-color: rgb(255, 248, 156);
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block; /* 버튼을 블록 레벨 요소로 설정합니다. */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬합니다. */
}

#btn-myBoard {
    background-color: rgb(255, 248, 156);
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block; /* 버튼을 블록 레벨 요소로 설정합니다. */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬합니다. */
}

.desc {
    padding: 4.5rem;
}

.card2-title {
    font-size: 15px;
    color: #ff6f0f;
}

.button-group {
    display: flex;
    flex-direction: row;
}
